<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <script defer src="/js/searchMovieToRate.js"></script>
    <title>movie-rating</title>
  </head>
  <body>
    <header>
      <form action="/addpage" method="get">
        <button
          title="Add a movie to rate"
          type="submit"
          id="go-to-add-movie-page-btn"
        >
          +
        </button>
      </form>
    </header>
    <main>
