<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/headerFooter.css" />
    <script defer src="/js/searchMovieToRate.js"></script>
    <title>movie-rating</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/addpage">+ Add movie</a>
    </header>
    <main>
