<%- include('partials/header.ejs') %>

<div id="search-container">
  <input id="search-input" type="text" placeholder="Search a movie to rate" />
  <button id="search-btn">Search</button>
  <div id="search-results"></div>
</div>



<%- include('partials/footer.ejs') %>
