<%- include('partials/header.ejs') %>

<div id="search-container">
  <input id="search-input" type="text" placeholder="Search a movie to rate" />
  <button id="search-btn">Search</button>
  <div id="search-results"></div>
</div>

<img id="poster-display" src="https://cdn.pixabay.com/photo/2015/11/03/08/56/question-mark-1019820_1280.jpg" alt="Movie poster">

<%- include('partials/footer.ejs') %>
