<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <script defer src="/js/search.js"></script>
    <title>movie-rating</title>
  </head>
  <body>
    <main>
      <div id="search-container">
        <input
          id="search-input"
          type="text"
          placeholder="Search a movie to rate"
        />
        <button id="search-btn">Search</button>
        <div id="search-results"></div>
      </div>
    </main>
  </body>
</html>
