header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    box-shadow: 0px -8px 10px 10px rgb(234, 234, 234);
}

footer {
    text-align: center;
    padding: 1rem;
}