body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding-top: 1rem;
}

.movie-card {
  padding: 1rem;
  box-shadow: -5px 10px 10px 1px rgb(243, 243, 243);
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 1rem;
  cursor: pointer;
}

.movie-title {
  margin-top: 0;
}

#no-movies-indicator {
  position: absolute;
  top: 50%;
  color: black;
}

#main-title {
  margin: 0;
}

.main-movie-poster {
  width: 200px;
  border: 1px solid red;
}

.main-movie-rating {
  margin: 0;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-movie-rating-viewed {
  margin: 0;
}

.main-personal-score {
  margin-top: 0px;
}

.main-movie-date-wrapper {
  width: 100%;
}

.kebab-menu {
  position: relative;
  display: inline-block;
}

.kebab-menu-btn {
  cursor: pointer;
}

.kebab-menu-options {
  background-color: burlywood;
  position: absolute;
  top: 100%;
  display: none;
  z-index: 10;
}

.kebab-menu-options.show {
  display: block;
}

.kebab-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 5;
}

.kebab-overlay.show{
  display: block;
}

.edit-post-btn,
.delete-post-btn {
  display: block;
  cursor: pointer;
  margin: 10px;
}

#sort-buttons-container > span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sort-arrow {
  text-decoration: none;
}
