main {
  display: flex;
  align-items: start;
  justify-content: center;

  padding-top: 1rem;
}

#search-results {
  background-color: pink;
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow: hidden;
  overflow-y: auto;
  gap: 0.5rem;
}

.poster-img {
  width: 100px;
}
